#bold {
 font-weight: bold;
}
body {
  text-align: center;
}
button#next {
	 display: inline-block;
}
button#up {
	 display: inline-block;	
}
div#targetDiv {
	display: block;
}
div#targetDiv2 {
	display: block;
}
div#userCaps {
   min-width: 60%;
  max-height: 25%;
	  margin: 0 auto;
}
div#group {
	  margin: 0 auto;
}
[data-role="content"] {
   max-width: 100%;
margin: 0 auto;
}
.nav {	
	min-height: 100%;
	width: 12%;
}
#leftNav {
	float: left;
}
#rightNav {
	float: right;
}
div#global-header {
	position: absolute;
		 top: 0px;
	 	left: 0px;
	   width: 100%;
	 z-index: 99999;
}
div#global-footer {	
}
input {
	font-family: "Times New Roman",Arial;
	font-size: 10px;
  text-align: center;	
  margin: 0 auto;
   /*min-width: 100%;*/
}
* {
	margin: 0px;
	padding: 0px;
}